@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #016B61;
  --color-secondary: #A3485A;
}

@import url("https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";
@import "swiper/css/effect-fade";

* {
  font-family: "Nunito Sans", sans-serif;
}

@media (min-width: 768px) {
  .swiper-button-next,
  .swiper-button-prev {
    transform: scale(1);
  }
}

@media (max-width: 480px) {
  .swiper-button-next,
  .swiper-button-prev {
    transform: scale(0.5);
    top: 80% !important;
  }
}
