@import "tailwindcss";
@plugin "daisyui";
@import url("https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

.special {
  @apply font-Caveat;
}

* {
  font-family: "Nunito Sans", sans-serif;
}
